extends ../layouts/application.pug

block content
  h1= t('views.tasks.creation')
    +formFor()(action=route('tasks') method='post')
      +input(task, 'name', t('views.tasks.new.value'))(type="text")
      +select(users, 'firstName','creatorId', t('views.tasks.new.creator'))
      +input(task, 'description', t('views.tasks.new.description'))(type='text')
      +select(statuses, 'name','statusId', t('views.tasks.new.status'))
      +select(users, 'firstName','executorId', t('views.tasks.new.executor'))
      +select(labels, 'name', 'labels', t('views.tasks.new.label'))
      +submit(task)(value=t('views.tasks.new.button'))