extends ../layouts/application.pug

block header
  = t('views.session.new.signIn.login')

block content
  +formFor()(action=route('session') method='post')
    +input(signInForm, t('views.session.new.signIn.email'), errors)(type="text")
    +input(signInForm, t('views.session.new.signIn.password'))(type="password")
    +submit(signInForm)(value=t('views.session.new.submit'))
